.footer {
    border-top: 1px solid hsl(var(--clr-accent) / 0.4);
    color: hsl(var(--clr-accent));
    
    
    img {
        height: 5rem;
        width: 5rem;
        display: inline-block;
    }
    
    .footer-wrapper {
        
        display: flex;
        margin: 10px auto;
        width: calc(100% - 80px);
        align-items: center;
        
        .left-sec {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
        }

        .right-sec {
            align-self: flex-start;
            display: flex;
            justify-content: space-between;

            .footer-navigation {
                // display: inline-block;
        
                ul {
                    display: grid;
                    gap: 1.2rem;
                    grid-auto-flow: column;
                    width: fit-content;
                    white-space: nowrap;
                    margin: 0;
            
                    li {
                        list-style-type: none;
            
                        a {
                            text-decoration: none;
                            color: inherit;
                        }
                    }
                }
            }

            .footer-copyright {
                align-self: flex-end;
            }
        }
    }
}