.footer {
    border-top: 1px solid hsl(var(--clr-accent) / 0.4);
    color: hsl(var(--clr-accent));
    
    .footer-wrapper {
        
        display: flex;
        flex-direction: row;
        
        .left-sec {

            width: 100%;

            .footer-links{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;

                .footer-link {

                    margin: 1rem;                    

                    a {
                        text-decoration: none;
                        color: hsl(var(--clr-accent) / 0.7);
                        cursor: pointer;
                        
                        &:hover {
                            color: hsl(var(--clr-accent));
                        }
                    }
                }
            }
        }

        .right-sec {

            width: 100%;
            margin: 0 0.7rem;

            .footer-miscs {

                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                flex-wrap: wrap;

                .footer-misc {

                    margin: 1rem 0.3rem;
                }
            }
        }
    }
}