.header {

    display: flex;
    height: 4rem;
    background: var(--background);
    color: hsl( var(--clr-accent) / 0.7 );
    font-size: var(--fs-400);
    font-weight: 600;
    justify-content: space-between;
    margin: 0 1rem;

    .left-container {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        .logo-wrapper {            
            display: flex;
            font-size: var(--fs-500);
            font-weight: 800;

            .logo {
                width: 3em;
                height: 3em;
            }

            .title {
                width: 12rem;
                height: 4rem;
            }
        }

        .shimmer {
            text-align: center;
            color: rgba(255, 255, 255, 0.4);
            background: -webkit-gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff));
            background: gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff));
            background-size: 0px 100%;
            background-clip: text;
            animation-name: shimmer;
            animation-duration: 3s;
            animation-iteration-count: infinite;
            background-repeat: no-repeat;
            background-position: 0 0;
            background-color: #222;
        }
    
        @keyframes shimmer {
                0% {
                        background-position: top left;
                        background-size: 0px 100%;
                }
                10% {
                        background-size: 40% 100%;
                }
                100% {
                        background-position: right;
                        background-size: 50px 100%;
                }
        }
    }

    .right-container {        
        display: flex;

        .navigationBar-desktop {
            display: flex;

            .navBtn__wrapper {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 0 1rem;

                .navBtn__link {
                    text-decoration: none;
                    color: inherit;
                    cursor: pointer;

                    &:hover {
                        color: hsl(var(--clr-accent));
                    }
                }
            }

            @media screen and (max-width: 620px) {
                display: none;
            }
        }

        .navigationBar-mobile {
            display: flex;
            align-items: center;
            justify-content: center;
            
            .navBtn__wrapper {
                cursor: pointer;
                display: grid;
                gap: 5px;
                grid-template-rows: repeat(3, min-content);
                padding: 0 1rem;

                .line {
                    display: block;
                    background-color: hsl( var(--clr-accent) / 0.7 );
                    width: 18px;
                    height: 2px;
                    
                }
                
                &:hover {
                    .line {
                        background-color: hsl(var(--clr-accent));
                    }
                }
            }

            @media screen and (min-width: 620px) {
                display: none;
            }
        }

        .theme-switch {
            display: flex;
            
            .switch-wrapper {
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
                
                button {
                    background: none;
                    border: none;
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 0.5rem;
                    opacity: 0.7;
                    border-radius: 50%;
                    position: relative;
                    
                    svg {
                        width: 1.5rem;
                        height: 1.5rem;
                        fill: hsl(var(--clr-accent));

                        .toggle-circle {
                            transition: transform 250ms ease-out;
                        }
                    }

                    &::after {
                        // display: none;
                        content: attr(aria-label);
                        position: absolute;
                        width: max-content;
                        font-size: 0.8rem;
                        color: var(--background);
                        background: hsl(var(--clr-accent));
                        right: -0.1rem;
                        top: 120%;
                        z-index: 1;
                        margin: 0 auto;
                        padding: 0.3rem 0.6rem;
                        border-radius: 5px;
                        opacity: 0;
                        transform: scale(0);
                        transform-origin: 80% 0%;
                        pointer-events: none;
                        transition: transform 100ms linear 100ms, opacity 100ms linear;
                    }

                    &:hover, &:focus-visible {
                        opacity: 1;
                        background: hsl(var(--clr-accent) / 0.2);
                    }

                    &:hover::after, &:focus-visible::after {
                        display: block;
                        opacity: 1;
                        transform: scale(1);
                        transition: transform 70ms linear, opacity 100ms linear;
                    }

                }

                // TODO: Add wave ripple effect
                .wave {
                    position: absolute;
                    background: chartreuse;
                    width: 1px;
                    height: 1px;
                    border-radius: 50%;
                    z-index: -1;
                    box-shadow: 0 0 0 0 #212121;
                }
            }
        }
    }
}

.theme--light svg .toggle-circle {
    transform: translateX(-15%);
}

.theme--light svg .toggle-sun {
    transform: rotate(0.5turn);
}

svg .toggle-sun {
    transform-origin: center center;
    transition: transform 500ms cubic-bezier(0.11, 0.14, 0.29, 1.32);
}