.master-view { 
    position: relative;
    display: flex;
    height: fit-content;
    justify-content: center;
    align-items: center;
    padding: 0 40px;
    // font-size: calc(1rem + 0.5vw);

    .bg-gradient {
        position: absolute;
        z-index: -1;
        transform: scale(0.5);
    }

    .left-sec {
        display: flex;
        width: 40%;
        height: 100%;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        overflow: hidden;
        
        h2 {
            font-weight: 800;
            font-size: calc(1rem + 2vw);
            background: linear-gradient(135deg, #CB5EEE 0%, #4BE1EC 50%, #CB5EEE 100%);
            background-clip: text;
            background-position: left;
            background-size: 200%;
            color: transparent;
            letter-spacing: 0.01rem;
            word-spacing: 0.001rem;
            text-transform: uppercase;
            transition: 1s;
        }
        
        h2:hover{
            background: linear-gradient(135deg, #CB5EEE 0%, #4BE1EC 50%, #CB5EEE 100%);
            background-clip: text;
            background-position: right;
            background-size: 200%;
        }
        
        p {
            color: hsl(var(--clr-accent));
            text-align: justify;
            text-justify: inter-word;
        }
    }

    .right-sec { 
        width: 60%;
    }
}