.master-view { 
    position: relative;
    display: flex;
    height: fit-content;
    justify-content: center;
    align-items: center;
    padding: 0 40px;

    .bg-gradient {
        position: absolute;
        z-index: -1;
        transform: scale(0.5);
    }

    .left-sec {
        display: flex;
        width: 40%;
        height: 100%;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        overflow: hidden;

        p {
            color: hsl(var(--clr-accent));
            text-align: justify;
            text-justify: inter-word;
        }
    }

    .right-sec { 
        width: 60%;
    }
}