.notification__wrapper {

    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f5a623;
    width: 100%;
    height: 40px;
    padding: 0 2rem;

    .notification-link {

        background-color: gray;
        padding: 0.10rem 0.4rem;
        border-radius: .5rem;
        opacity: 0.9;
        background-blend-mode: overlay;

        a {
            text-decoration: none;
            color: inherit;
            cursor: pointer;
        }

    }
    
    .notification-dismiss {
        cursor: pointer;
    }
}