.subscribe-promotion {

    width: calc(100% - 80px);
    margin: 0 auto;
    color: hsl(var(--clr-dark));
    min-width: fit-content;

    .subscribe-promotion__wrapper {

        // height: 200px;
        padding: 2rem;
        box-shadow: 0 1.6px 3.6px 0 rgb(0 0 0 / 13%), 0 0.3px 0.9px 0 rgb(0 0 0 / 11%);
        border: 1px solid rgba(255, 255, 255, 0.35);
        opacity: 0.4;
        background-color: hsl(var(--clr-light) / 0.5);
        border-radius: 5px;
        background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/59615/bg--acrylic-light.png);
        backdrop-filter: blur(15px);

        .subscribe-promotion__title {
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            font-size: calc(0.6rem + 2vw);
            text-transform: uppercase;
            letter-spacing: 0.01rem;
            word-spacing: 0.01rem;
            text-align: center;
            position: relative;
        }

        .subscribe__form {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 1.5rem 0;
            position: relative;
            opacity: 0.9;

            .subscribe__form--email {
                height: 3rem;
                width: 18rem;
                outline: none;
                border: none;
                padding: 0.5rem;
                border-radius: 0.2em;
            }

            .subscribe__form--submit {
                height: 3rem;
                width: 6rem;
                margin-left: 0.5rem;
                outline: none;
                border: none;
                padding: 0.5rem;
                border-radius: 0.2em;
                cursor: pointer;

                &:hover {
                    opacity: 1;
                }
            }

            .alert-message {
                display: none;
                text-align: center;
                position: absolute;
                top: 60px;
                color: hsl(var(--clr-light));
                animation-duration: 4s;
                animation-name: fadeInOut;
                animation-timing-function: ease-in-out;
            }

            @keyframes fadeInOut {
                
                from {
                    opacity: 0;
                    display: none;
                }

                50% {
                    opacity: 1;
                    display: block;
                }

                to {
                    opacity: 0;
                    display: none;
                }
            }

            @keyframes fadeIn {
                from {
                    opacity: 0;
                    display: none;
                }
                to {
                    opacity: 1;
                    display: block;
                }
            }

            @keyframes fadeOut {
                from {
                    opacity: 1;
                    display: block;
                }
                to {
                    opacity: 0;
                    display: none;
                }
            }
        }

        &::after {
            content: "";
            margin: 1em;
            width: 100%;
            height: 100%;
            opacity: 0.3;
            background-image: url("./assets/images/send.svg");
            background-repeat: no-repeat;
            top: -10px;
            right: -20px;
            position: absolute;
            display: inline-block;
            z-index: -1;        
        }
    }
}