@use './base/index' as index;

body{
    background: var(--background);
    color: var(--foreground);
    font-size: 1rem;
    min-width: 500px !important;
        
    .master {
        height: 400px;
        width: calc(100% - 80px);
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        .bg-gradient {
            position: absolute;
            // top: 80%;
            left: -10%;
            z-index: -1;
            transform: scale(0.5);
        }
    
        .left-sec {
            width: 40%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            flex-wrap: wrap;
            
            h2 {
                font-weight: 800;
                font-size: calc(1rem + 2vw);
                background: linear-gradient(135deg, #CB5EEE 0%, #4BE1EC 100%);
                background-clip: text;
                color: transparent;
                letter-spacing: 0.01rem;
                word-spacing: 0.001rem;
                text-transform: uppercase;
            }
            
            h2:hover{
                transition: all 1000ms ease-in-out;
                background: linear-gradient(310deg,#cb5eee,#4be1ec);
                background-clip: text;
            }
    
            p {
                color: hsl(var(--clr-accent));
            }
        }
    
        .right-sec { 
            width: 60%;
        }
    }


    .social {
    
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;


        .bg-gradient {
            position: absolute;
            // top: 80%;
            left: -10%;
            z-index: -1;
            transform: scale(0.6);
        }

        h2 {
            font-weight: 800;
            font-size: 3rem;
            background: linear-gradient(135deg, #D6FF7F 0%, #00B3CC 100%);
            background-clip: text;
            color: transparent;
            letter-spacing: 0.01rem;
            word-spacing: 0.001rem;
            text-transform: uppercase;
        
        }

        .filter-green{
            filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(86deg) brightness(118%) contrast(119%);
        }

        .social-wrapper {
            display: flex;
            margin: 0 1em;
    
            .social-item {
                padding: 2rem;
                box-shadow: 0 1.6px 3.6px 0 rgb(0 0 0 / 13%), 0 0.3px 0.9px 0 rgb(0 0 0 / 11%);
                border: 1px solid rgba(255, 255, 255, 0.35);
                opacity: 0.4;
                background-color: hsl(var(--clr-light) / 0.5);
                border-radius: 5px;
                background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/59615/bg--acrylic-light.png);
                backdrop-filter: blur(15px);

                width: 12em;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                transition: width ease-in-out 0.2s, opacity ease-in-out 0.2s;

                svg {
                    fill: var(--foreground);
                    height: 100px;
                    width: 100px;
                }
            }
            
            .social-item:hover {
                width: 15em;
                opacity: 1;
            }

            .social-item:not(:last-child) {
                margin-right: 1rem;
            }
        }
    }

    /*  Custom Scroll Bar YT Like    */

    &::-webkit-scrollbar {
        width: 10px;
    }
    
    &::-webkit-scrollbar-thumb {
        background: #4A4A4A; 
        border-radius: 1em;
    }
}
