.footer
    .footer-wrapper
        .left-sec
            img(src="./assets/images/logoImage.svg", alt="")
        .right-sec
            .footer-navigation 
                ul
                    li 
                        a(href="#") About Us 
                    li 
                        a(href="#") Contact Us
                    li 
                        a(href="#") Subscribe
                    li 
                        a(href="#") Team
                    li 
                        a(href="#") Sponsors
            .footer-copyright
                p Copyright © 2021. Hash Define Non-Profit Organisation  