.footer
    .footer-wrapper
        .left-sec
            img(src="./assets/images/logoImage.svg", alt="")
        .right-sec
            .footer-links
                .footer-link  
                    a(href="#") About Us 
                .footer-link  
                    a(href="#") Contact Us 
                .footer-link  
                    a(href="#") Subscribe 
                .footer-link  
                    a(href="#") Team 
                .footer-link  
                    a(href="#") Sponsors
            .footer-miscs
                .footer-misc 
                    p Copyright © 2021
                .footer-misc 
                    p •
                .footer-misc
                    p Made with ❤️ by Define Code Team  