.gallery 
    h2.tagline(style="--bg-gradient:linear-gradient(to right, #8a2387, #e94057, #f27121);") Event Gallery
    .gallery__wrapper
        .gallery__flex
            .gallery__item.hover
                img(src='https://rukminim1.flixcart.com/image/416/416/jfea93k0/poster/j/3/u/medium-the-avenges-initiative-3-moives-posters-mp0098-original-imaf3mhpcyhwhtkt.jpeg?q=70')
                .gallery__item-content
                    .event-name
                        h2 Event Name hahaHahahahahahahahaha
                    .speaker-name speaker name
                    .event-type event type 
            
            //- .gallery__item
            //-     img(src='https://rukminim1.flixcart.com/image/416/416/jfea93k0/poster/j/3/u/medium-the-avenges-initiative-3-moives-posters-mp0098-original-imaf3mhpcyhwhtkt.jpeg?q=70')
            //-     .gallery__item-content
            //-         h2 Event Name
            //-         .event-type event type 
            //-         .speaker-name speaker name

            //- .gallery__item
            //-     img(src='https://rukminim1.flixcart.com/image/416/416/jfea93k0/poster/j/3/u/medium-the-avenges-initiative-3-moives-posters-mp0098-original-imaf3mhpcyhwhtkt.jpeg?q=70')
            //-     .gallery__item-content
            //-         h2 Event Name
            //-         .event-type event type 
            //-         .speaker-name speaker name

            //- .gallery__item
            //-     img(src='https://rukminim1.flixcart.com/image/416/416/jfea93k0/poster/j/3/u/medium-the-avenges-initiative-3-moives-posters-mp0098-original-imaf3mhpcyhwhtkt.jpeg?q=70')
            //-     .gallery__item-content
            //-         h2 Event Name
            //-         .event-type event type 
            //-         .speaker-name speaker name

            //- .gallery__item
            //-     img(src='https://rukminim1.flixcart.com/image/416/416/jfea93k0/poster/j/3/u/medium-the-avenges-initiative-3-moives-posters-mp0098-original-imaf3mhpcyhwhtkt.jpeg?q=70')
            //-     .gallery__item-content
            //-         h2 Event Name
            //-         .event-type event type 
            //-         .speaker-name speaker name

            //- .gallery__item
            //-     img(src='https://rukminim1.flixcart.com/image/416/416/jfea93k0/poster/j/3/u/medium-the-avenges-initiative-3-moives-posters-mp0098-original-imaf3mhpcyhwhtkt.jpeg?q=70')
            //-     .gallery__item-content
            //-         h2 Event Name
            //-         .event-type event type 
            //-         .speaker-name speaker name

            //- .gallery__item
            //-     img(src='https://rukminim1.flixcart.com/image/416/416/jfea93k0/poster/j/3/u/medium-the-avenges-initiative-3-moives-posters-mp0098-original-imaf3mhpcyhwhtkt.jpeg?q=70')
            //-     .gallery__item-content
            //-         h2 Event Name
            //-         .event-type event type 
            //-         .speaker-name speaker name

            //- .gallery__item
            //-     img(src='https://rukminim1.flixcart.com/image/416/416/jfea93k0/poster/j/3/u/medium-the-avenges-initiative-3-moives-posters-mp0098-original-imaf3mhpcyhwhtkt.jpeg?q=70')
            //-     .gallery__item-content
            //-         h2 Event Name
            //-         .event-type event type 
            //-         .speaker-name speaker name

            //- .gallery__item
            //-     img(src='https://rukminim1.flixcart.com/image/416/416/jfea93k0/poster/j/3/u/medium-the-avenges-initiative-3-moives-posters-mp0098-original-imaf3mhpcyhwhtkt.jpeg?q=70')
            //-     .gallery__item-content
            //-         h2 Event Name
            //-         .event-type event type 
            //-         .speaker-name speaker name

            //- .gallery__item
            //-     img(src='https://rukminim1.flixcart.com/image/416/416/jfea93k0/poster/j/3/u/medium-the-avenges-initiative-3-moives-posters-mp0098-original-imaf3mhpcyhwhtkt.jpeg?q=70')
            //-     .gallery__item-content
            //-         h2 Event Name
            //-         .event-type event type 
            //-         .speaker-name speaker name

            //- .gallery__item
            //-     img(src='https://rukminim1.flixcart.com/image/416/416/jfea93k0/poster/j/3/u/medium-the-avenges-initiative-3-moives-posters-mp0098-original-imaf3mhpcyhwhtkt.jpeg?q=70')
            //-     .gallery__item-content
            //-         h2 Event Name
            //-         .event-type event type 
            //-         .speaker-name speaker name
            
            

            //- .gallery__item
            //- .gallery__item
            //- .gallery__item
            //- .gallery__item
            //- .gallery__item
            //- .gallery__item
            //- .gallery__item
            //- .gallery__item
            //- .gallery__item
            //- .gallery__item
            //- .gallery__item
            //- .gallery__item
            //- .gallery__item
        