.gallery 
    h2.tagline(style="--bg-gradient:linear-gradient(to right, #8a2387, #e94057, #f27121);") Event Gallery
    .gallery__wrapper
        .gallery__flex
            //- .gallery__item
            //-     img(src='https://raw.githubusercontent.com/hash-define-organization/website-update/main/database/gallery/images/define-logo-2.png')
            //-     .gallery__item-content
            //-         .event-name.merge-sides.infinite-scroll__wrapper.no-move
            //-             p.infinite-scroll.no-move Web Development Week
            //-         .speaker-name
            //-             p
            //-         .event-tag 
            //-             p Cyber Security
            //-             p Phishing 
            //-             p Web Security
