.gallery 
    h2.tagline(style="--bg-gradient:linear-gradient(to right, #8a2387, #e94057, #f27121);") Event Gallery
    .gallery__wrapper
        .gallery__flex
            //- .gallery__item
            //-     img(src='https://raw.githubusercontent.com/hash-define-organization/website-update/main/database/gallery/images/define-logo-2.png')
            //-     .gallery__item-content
            //-         .event-name.merge-sides.infinite-scroll__wrapper
            //-             p.infinite-scroll APT - Advanced Programming Techniques
            //-         .speaker-name.merge-sides.infinite-scroll__wrapper
            //-             p.infinite-scroll Payton Miller
            //-         .event-tag 
            //-             p Cyber Security
            //-             p Phishing 
            //-             p Web Security