//- Top Container of Content Region
div.master-view
    canvas(id="gradient-canvas" slot="outer" )
    //- img.bg-gradient(src="./assets/images/gradient-right-dark.svg")
    .display-content 
        .element We Define, You Code
            p #define represents 400+ individuals who believe in the power of learning by doing and the importance of an active Coding Community.
        //- .element We Define, You Code
        //- .element We Define, You Code
        .element.menu 