//- Top Container of Content Region
div.master-view
    img.bg-gradient(src="https://nextui.org/gradient-right-dark.svg")
    .left-sec
        h2 May the Code be with you
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem, veritatis. Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, veritatis. Qui dolorum quae porro in et iste dolorem minima optio!
        div.btn-wrapper 
            a.btn 
    .right-sec