//- Top Container of Content Region
div.master-view
    img.bg-gradient(src="./assets/images/gradient-right-dark.svg")
    .left-sec
        h2.tagline(style="--bg-gradient:linear-gradient(135deg, #CB5EEE 0%, #4BE1EC 50%, #CB5EEE 100%);") Think Code, Think #Define
        p.flow-gap(style="--flow-space:2rem") #Define represents 400+ individuals who believe in the power of learning by doing and the importance of an active Coding Community.
        div.btn-wrapper 
            a.btn 
    .right-sec