.master-container__inner.about
    .top-container-h
        .describe
            .photo
                img.noselect(src='assets/images/define-logo-2.svg')
            .headline 
                p A Tech Society & Community
                .sub-headline
                    //- span
                        svg.h-6.w-6(xmlns='http://www.w3.org/2000/svg' fill='none' viewbox='0 0 24 24' stroke='currentColor')
                            path(stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M19 21V5a2 2 0 00-2-2H7a2 2 0 00-2 2v16m14 0h2m-2 0h-5m-9 0H3m2 0h5M9 7h1m-1 4h1m4-4h1m-1 4h1m-5 10v-5a1 1 0 011-1h2a1 1 0 011 1v5m-4 0h4')
                    p Founded at Bhagwan Parshuram Institute of Technology (2019)
        .links
            .link__container
                a(href='https://github.com/hash-define-organization/' target="_blank")
                    .link-icon
                        img(src="./assets/images/social/github.svg", alt="", srcset="")            
            .link__container
                a(href='https://www.youtube.com/channel/UCDqf3_N1l7s0dVAVycN8FQA' target="_blank")
                    .link-icon
                        img(src="./assets/images/social/youtube.svg", alt="", srcset="")            
            .link__container
                a(href='https://www.instagram.com/hash_define/' target="_blank")
                    .link-icon
                        img(src="./assets/images/social/instagram.svg", alt="", srcset="")            
    .bottom-container-v 
        .text-holder
            p “Coding is today’s language of creativity. All our children deserve a chance to become creators instead of consumers of Computer Science.” – Maria Klawe #define was established on 4 September 2019 to help consumers become creators. Since then, the society has touched the lives of 400+ individuals through various events and helped them become successful programmers.At #define, we stand with thousands of students who wish to learn how to code, with those for whom learning is motivated by a fascination for new technologies, and with those who wish to speak code faster than their language.
            p We aim to lay the foundations of a tightly knit community that learns and grows together, and with all the people who have joined us, we are sure that we are not that far.
        .image-holder
            img(src='assets/images/saly-15.svg')