.master-container__inner 
    .event-container
        .title__heading
            h2.tagline(style="--bg-gradient:linear-gradient(135deg, #CB5EEE 0%, #4BE1EC 50%, #CB5EEE 100%);") Event Gallery 


        .search__bar.flow-gap(style="--flow-space:2rem")
            input(type="text" placeholder="Search")
            button
                img(src="assets/images/search.svg" alt="search")


        .event__gallery.flow-gap(style="--flow-space:2rem")
            .event__gallery-wrapper 
                .gallery__item
                    img(src='https://raw.githubusercontent.com/hash-define-organization/website-update/main/database/gallery/images/define-logo-2.png')
                    .gallery__item-content
                        .event-name.merge-sides.infinite-scroll__wrapper
                            p.infinite-scroll APT - Advanced Programming Techniques
                        .speaker-name.merge-sides.infinite-scroll__wrapper
                            p.infinite-scroll Payton Miller
                        .event-tag 
                            p Cyber Security
                            p Phishing 
                            p Web Security
                
                .gallery__item
                    img(src='https://raw.githubusercontent.com/hash-define-organization/website-update/main/database/gallery/images/define-logo-2.png')
                    .gallery__item-content
                        .event-name.merge-sides.infinite-scroll__wrapper
                            p.infinite-scroll APT - Advanced Programming Techniques
                        .speaker-name.merge-sides.infinite-scroll__wrapper
                            p.infinite-scroll Payton Miller
                        .event-tag 
                            p Cyber Security
                            //- p Phishing 
                            //- p Web Security

                .gallery__item
                    img(src='https://raw.githubusercontent.com/hash-define-organization/website-update/main/database/gallery/images/define-logo-2.png')
                    .gallery__item-content
                        .event-name.merge-sides.infinite-scroll__wrapper
                            p.infinite-scroll APT - Advanced Programming Techniques
                        .speaker-name.merge-sides.infinite-scroll__wrapper
                            p.infinite-scroll Payton Miller
                        .event-tag 
                            p Cyber Security
                            p Phishing 
                            p Web Security

                .gallery__item
                    img(src='https://raw.githubusercontent.com/hash-define-organization/website-update/main/database/gallery/images/define-logo-2.png')
                    .gallery__item-content
                        .event-name.merge-sides.infinite-scroll__wrapper
                            p.infinite-scroll APT - Advanced Programming Techniques
                        .speaker-name.merge-sides.infinite-scroll__wrapper
                            p.infinite-scroll Payton Miller
                        .event-tag 
                            p Cyber Security
                            p Phishing 
                            p Web Security

                .gallery__item
                    img(src='https://raw.githubusercontent.com/hash-define-organization/website-update/main/database/gallery/images/define-logo-2.png')
                    .gallery__item-content
                        .event-name.merge-sides.infinite-scroll__wrapper
                            p.infinite-scroll APT - Advanced Programming Techniques
                        .speaker-name.merge-sides.infinite-scroll__wrapper
                            p.infinite-scroll Payton Miller
                        .event-tag 
                            p Cyber Security
                            p Phishing 
                            p Web Security

                .gallery__item
                    img(src='https://raw.githubusercontent.com/hash-define-organization/website-update/main/database/gallery/images/define-logo-2.png')
                    .gallery__item-content
                        .event-name.merge-sides.infinite-scroll__wrapper
                            p.infinite-scroll APT - Advanced Programming Techniques
                        .speaker-name.merge-sides.infinite-scroll__wrapper
                            p.infinite-scroll Payton Miller
                        .event-tag 
                            p Cyber Security
                            p Phishing 
                            p Web Security

                .gallery__item
                    img(src='https://raw.githubusercontent.com/hash-define-organization/website-update/main/database/gallery/images/define-logo-2.png')
                    .gallery__item-content
                        .event-name.merge-sides.infinite-scroll__wrapper
                            p.infinite-scroll APT - Advanced Programming Techniques
                        .speaker-name.merge-sides.infinite-scroll__wrapper
                            p.infinite-scroll Payton Miller
                        .event-tag 
                            p Cyber Security
                            p Phishing 
                            p Web Security

                .gallery__item
                    img(src='https://raw.githubusercontent.com/hash-define-organization/website-update/main/database/gallery/images/define-logo-2.png')
                    .gallery__item-content
                        .event-name.merge-sides.infinite-scroll__wrapper
                            p.infinite-scroll APT - Advanced Programming Techniques
                        .speaker-name.merge-sides.infinite-scroll__wrapper
                            p.infinite-scroll Payton Miller
                        .event-tag 
                            p Cyber Security
                            p Phishing 
                            p Web Security

                .gallery__item
                    img(src='https://raw.githubusercontent.com/hash-define-organization/website-update/main/database/gallery/images/define-logo-2.png')
                    .gallery__item-content
                        .event-name.merge-sides.infinite-scroll__wrapper
                            p.infinite-scroll APT - Advanced Programming Techniques
                        .speaker-name.merge-sides.infinite-scroll__wrapper
                            p.infinite-scroll Payton Miller
                        .event-tag 
                            p Cyber Security
                            p Phishing 
                            p Web Security

                .gallery__item
                    img(src='https://raw.githubusercontent.com/hash-define-organization/website-update/main/database/gallery/images/define-logo-2.png')
                    .gallery__item-content
                        .event-name.merge-sides.infinite-scroll__wrapper
                            p.infinite-scroll APT - Advanced Programming Techniques
                        .speaker-name.merge-sides.infinite-scroll__wrapper
                            p.infinite-scroll Payton Miller
                        .event-tag 
                            p Cyber Security
                            p Phishing 
                            p Web Security