include ../components/notification
div.master-container__inner
    include ../components/master
    include ../components/subscribe
    include ../components/gallery
    include ../components/social