doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="main.css")
        script(src="./js/theme.js" defer)
        script(src="./js/home.js" defer)  
    body
        include ../components/header
        include ../components/notification
        .block-gap__v--top(style="--flow-space: 2rem")
        section.master.noselect
            img.bg-gradient(src="https://nextui.org/gradient-right-dark.svg", alt="")
            .left-sec
                h2 May the Code be with you
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem, veritatis. Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, veritatis. Qui dolorum quae porro in et iste dolorem minima optio!
                div.btn-wrapper 
                    a.btn 
            .right-sec
        include ../components/subscribe
        .block-gap__v--top(style="--flow-space: 2rem")
        section.social
            h2 Learn. Connect. Share.
            img.bg-gradient(src="https://nextui.org/gradient-left-dark.svg", alt="")
            .social-wrapper
                .social-item
                    img(src="./assets/images/discord-min.png", alt="")
                .social-item
                    img(src="./assets/images/whatsapp-min.png", alt="")
                .social-item
                    img(src="./assets/images/linkedin-min.png", alt="")
        .block-gap__v--top(style="--flow-space: 2rem")
        include ../components/footer