doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="main.css")
        script(src="./js/theme.js" defer)
        script(src="./js/home.js" defer)  
    body
        include ../components/header
        .notification__wrapper
            .notification-link 
                a(href="https://www.youtube.com/watch?v=dQw4w9WgXcQ") Learn More
            .notification-message 🔉 Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste reprehenderit, eveniet soluta, omnis incidunt illo tenetur 
            .notification-dismiss ❌
        section 
            .left-sec
            .right-sec