doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="main.css")
        //- script(src="./js/") 
        script(src="./js/theme.js" defer)
        script(src="./js/home.js" type="module" defer)  
    body
        include ../components/header
        include ../components/notification
        .block-gap__v--top(style="--flow-space: 2rem")
        section.master.noselect
            img.bg-gradient(src="https://nextui.org/gradient-right-dark.svg", alt="")
            .left-sec
                h2 May the Code be with you
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem, veritatis. Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, veritatis. Qui dolorum quae porro in et iste dolorem minima optio!
                div.btn-wrapper 
                    a.btn 
            .right-sec
        include ../components/subscribe
        .block-gap__v--top(style="--flow-space: 2rem")
        section.social
            h2 Learn. Connect. Share.
            img.bg-gradient(src="https://nextui.org/gradient-left-dark.svg", alt="")
            .social-wrapper
                .social-item
                    .small-div
                        svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 30 30' width='60' height='60')
                            path(d='M25.12 6.946c-2.424-1.948-6.257-2.278-6.419-2.292a.608.608 0 00-.604.357c-.004.008-.218.629-.425 1.228 2.817.493 4.731 1.587 4.833 1.647A.999.999 0 0122 9.75a.99.99 0 01-.501-.135C21.471 9.598 18.663 8 15.002 8 11.34 8 8.531 9.599 8.503 9.615a1 1 0 01-1.006-1.729c.102-.06 2.023-1.158 4.848-1.65-.218-.606-.438-1.217-.442-1.225a.6.6 0 00-.604-.357c-.162.013-3.995.343-6.451 2.318C3.564 8.158 1 15.092 1 21.087a.6.6 0 00.08.301c1.771 3.11 6.599 3.924 7.699 3.959a.61.61 0 00.511-.249l1.19-1.612c-2.61-.629-3.99-1.618-4.073-1.679a1 1 0 011.181-1.614C7.625 20.217 10.172 22 15 22c4.847 0 7.387-1.79 7.412-1.808a1.001 1.001 0 011.183 1.613c-.083.061-1.456 1.048-4.06 1.677l1.175 1.615c.115.158.298.25.492.25l.019-.001c1.101-.035 5.929-.849 7.699-3.959a.6.6 0 00.08-.301c0-5.994-2.564-12.928-3.88-14.14zM11 19c-1.105 0-2-1.119-2-2.5s.895-2.5 2-2.5 2 1.119 2 2.5-.895 2.5-2 2.5zm8 0c-1.105 0-2-1.119-2-2.5s.895-2.5 2-2.5 2 1.119 2 2.5-.895 2.5-2 2.5z')
                    .large-div
                        img(src="https://preview.redd.it/bzrermc11fy61.png", alt="", srcset="")
                .social-item
                    svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 24 24' width='48' height='48')
                        path(d='M12.012 2c-5.506 0-9.989 4.478-9.99 9.984a9.964 9.964 0 001.333 4.993L2 22l5.232-1.236a9.981 9.981 0 004.774 1.215h.004c5.505 0 9.985-4.48 9.988-9.985a9.922 9.922 0 00-2.922-7.066A9.923 9.923 0 0012.012 2zm-.002 2a7.95 7.95 0 015.652 2.342 7.93 7.93 0 012.336 5.65c-.002 4.404-3.584 7.987-7.99 7.987a7.999 7.999 0 01-3.817-.971l-.673-.367-.745.175-1.968.465.48-1.785.217-.8-.414-.72a7.98 7.98 0 01-1.067-3.992C4.023 7.582 7.607 4 12.01 4zM8.477 7.375a.917.917 0 00-.666.313c-.23.248-.875.852-.875 2.08 0 1.228.894 2.415 1.02 2.582.123.166 1.726 2.765 4.263 3.765 2.108.831 2.536.667 2.994.625.458-.04 1.477-.602 1.685-1.185.208-.583.209-1.085.147-1.188-.062-.104-.229-.166-.479-.29-.249-.126-1.476-.728-1.705-.811-.229-.083-.396-.125-.562.125-.166.25-.643.81-.79.976-.145.167-.29.19-.54.065-.25-.126-1.054-.39-2.008-1.24-.742-.662-1.243-1.477-1.389-1.727-.145-.25-.013-.386.112-.51.112-.112.248-.291.373-.437.124-.146.167-.25.25-.416.083-.166.04-.313-.022-.438s-.547-1.357-.77-1.851c-.186-.415-.384-.425-.562-.432-.145-.006-.31-.006-.476-.006z')
                .social-item
                    svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 30 30' width='60' height='60')
                        path(d='M24 4H6a2 2 0 00-2 2v18a2 2 0 002 2h18a2 2 0 002-2V6a2 2 0 00-2-2zM10.954 22h-2.95v-9.492h2.95V22zM9.449 11.151a1.72 1.72 0 110-3.44 1.72 1.72 0 010 3.44zM22.004 22h-2.948v-4.616c0-1.101-.02-2.517-1.533-2.517-1.535 0-1.771 1.199-1.771 2.437V22h-2.948v-9.492h2.83v1.297h.04c.394-.746 1.356-1.533 2.791-1.533 2.987 0 3.539 1.966 3.539 4.522V22z')
        .block-gap__v--top(style="--flow-space: 2rem")
        include ../components/footer