doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="main.css")
        link(rel='apple-touch-icon' sizes='180x180' href='assets/favicon/apple-touch-icon.png')
        link(rel='icon' type='image/png' sizes='32x32' href='assets/favicon/favicon-32x32.png')
        link(rel='icon' type='image/png' sizes='16x16' href='assets/favicon/favicon-16x16.png')
        link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous")
        link(rel='manifest' href='assets/site.webmanifest')
        //- script(src="./js/")
        script(src="./js/theme.js" defer)
        //- script(src="./js/home.js" type="module" defer)
        script(src="./js/router.js" type="module" defer)
    body.scroller
        include ../components/header
        div.master-container
        include ../components/footer