.flow-gap{
    margin-top: var(--flow-space, 1rem) !important;
} 

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

.uppercase {
    text-transform: uppercase;
}

// TODO: Add Default Gradient

.tagline {
    font-weight: 800;
    font-size: calc(2rem + 1vw);
    background: var(--bg-gradient, linear-gradient(to right, #00c6fb 0%, #005bea 100%));
    background-clip: text;
    background-position: left;
    background-size: 200%;
    color: transparent;
    letter-spacing: 0.01rem;
    word-spacing: 0.001rem;
    text-transform: uppercase;
    transition: 1s;
}

.tagline:hover{
    background-clip: text;
    background-position: right;
    background-size: 200%;
}